/*Funciones*/
/*Mixin*/
/*Plantillas*/
.info-container, .socials-container {
  background: rgb(100, 89, 89);
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}

.portfolio, .curriculum, .sobreMi {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.formaciones .formacion-socorrista, .formaciones .formacion-chivato, .formaciones .formacion-espartano, .formaciones .formacion-pistolero {
  background: #808080;
  padding: 1rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(69, 67, 67);
  box-shadow: 6px 5px 0px rgb(69, 67, 67);
  display: flex;
  align-items: center;
  gap: 10px;
}
.formaciones .formacion-socorrista img, .formaciones .formacion-chivato img, .formaciones .formacion-espartano img, .formaciones .formacion-pistolero img {
  width: 50%;
  height: 50%;
}
.formaciones .formacion-socorrista div:nth-child(2), .formaciones .formacion-chivato div:nth-child(2), .formaciones .formacion-espartano div:nth-child(2), .formaciones .formacion-pistolero div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

/*Variables*/
/*Llamadas Mixin*/
.experiencia-1 {
  padding-left: 200px;
  display: flex;
  gap: 300px;
  width: 100%;
}
.experiencia-1 .eje {
  position: relative;
  display: flex;
  z-index: 0;
  width: 100px;
  align-items: center;
}
.experiencia-1 .eje .fondo {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100px;
  border-radius: 100%;
  scale: 0;
  background: red;
  transition: scale 0.5s ease;
}
.experiencia-1 .eje .circle {
  position: absolute;
  z-index: 2;
  left: 25%;
  width: 50px;
  height: 50px;
  background: blue;
  border-radius: 100%;
  cursor: pointer;
}
.experiencia-1 .eje:hover .fondo {
  scale: 105%;
}
.experiencia-1 .eje:hover ~ div h1 {
  letter-spacing: 5px;
}
.experiencia-1 .eje:hover ~ div p {
  background: gray;
  padding-top: 100px;
  padding-left: 100px;
}
.experiencia-1 .contenido {
  position: relative;
  z-index: 2;
}
.experiencia-1 p {
  transition: all 1s ease;
  position: absolute;
  z-index: 2;
}
.experiencia-1 hr {
  position: relative;
  background: white;
  top: 100px;
  width: 3px;
  height: 100px;
}

.experiencia-2 {
  padding-left: 200px;
  display: flex;
  gap: 300px;
  width: 100%;
}
.experiencia-2 .eje {
  position: relative;
  display: flex;
  z-index: 0;
  width: 100px;
  align-items: center;
}
.experiencia-2 .eje .fondo {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100px;
  border-radius: 100%;
  scale: 0;
  background: red;
  transition: scale 0.5s ease;
}
.experiencia-2 .eje .circle {
  position: absolute;
  z-index: 2;
  left: 25%;
  width: 50px;
  height: 50px;
  background: blue;
  border-radius: 100%;
  cursor: pointer;
}
.experiencia-2 .eje:hover .fondo {
  scale: 105%;
}
.experiencia-2 .eje:hover ~ div h1 {
  letter-spacing: 5px;
}
.experiencia-2 .eje:hover ~ div p {
  background: gray;
  padding-top: 100px;
  padding-left: 100px;
}
.experiencia-2 .contenido {
  position: relative;
  z-index: 2;
}
.experiencia-2 p {
  transition: all 1s ease;
  position: absolute;
  z-index: 2;
}
.experiencia-2 hr {
  position: relative;
  background: white;
  top: 100px;
  width: 3px;
  height: 100px;
}

.experiencia-3 {
  padding-left: 200px;
  display: flex;
  gap: 300px;
  width: 100%;
}
.experiencia-3 .eje {
  position: relative;
  display: flex;
  z-index: 0;
  width: 100px;
  align-items: center;
}
.experiencia-3 .eje .fondo {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100px;
  border-radius: 100%;
  scale: 0;
  background: red;
  transition: scale 0.5s ease;
}
.experiencia-3 .eje .circle {
  position: absolute;
  z-index: 2;
  left: 25%;
  width: 50px;
  height: 50px;
  background: blue;
  border-radius: 100%;
  cursor: pointer;
}
.experiencia-3 .eje:hover .fondo {
  scale: 105%;
}
.experiencia-3 .eje:hover ~ div h1 {
  letter-spacing: 5px;
}
.experiencia-3 .eje:hover ~ div p {
  background: gray;
  padding-top: 100px;
  padding-left: 100px;
}
.experiencia-3 .contenido {
  position: relative;
  z-index: 2;
}
.experiencia-3 p {
  transition: all 1s ease;
  position: absolute;
  z-index: 2;
}
.experiencia-3 hr {
  position: relative;
  background: white;
  top: 100px;
  width: 3px;
  height: 100px;
}

.images {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.img-1 {
  background: url("/images/portfolio/1.PNG");
  background-size: auto;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  flex-grow: 1;
  transition: width 1s ease-in-out;
}
.img-1:hover {
  width: 500px;
  height: 400px;
}

.img-2 {
  background: url("/images/portfolio/2.PNG");
  background-size: auto;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  flex-grow: 1;
  transition: width 1s ease-in-out;
}
.img-2:hover {
  width: 500px;
  height: 400px;
}

.img-3 {
  background: url("/images/portfolio/3.PNG");
  background-size: auto;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  flex-grow: 1;
  transition: width 1s ease-in-out;
}
.img-3:hover {
  width: 500px;
  height: 400px;
}

.img-4 {
  background: url("/images/portfolio/4.PNG");
  background-size: auto;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  flex-grow: 1;
  transition: width 1s ease-in-out;
}
.img-4:hover {
  width: 500px;
  height: 400px;
}

.img-5 {
  background: url("/images/portfolio/5.PNG");
  background-size: auto;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  flex-grow: 1;
  transition: width 1s ease-in-out;
}
.img-5:hover {
  width: 500px;
  height: 400px;
}

/*Nesting y Estilos*/
body {
  background: rgb(195, 223, 17);
}

.container {
  display: flex;
  gap: 20px;
  height: 90vh;
}

.socials-container {
  width: 20%;
}

.socials-content {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.basic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basic-info hr {
  width: 75%;
  height: 2px;
  background: white;
}
.basic-info p {
  color: white;
}

.socials {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.socials div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.socials div div {
  background: rgb(189, 189, 189);
  min-width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(69, 67, 67);
  border-radius: 10px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  box-shadow: 6px 5px 0px rgb(69, 67, 67);
}
.socials span {
  font-size: small;
  font-weight: bold;
}

.info-container {
  overflow: scroll;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.top-bar h1 {
  margin-left: 200px;
  animation: shake 0.2s linear infinite alternate;
  align-self: center;
  font-size: 40px;
}
.top-bar nav {
  background: gray;
  display: flex;
  justify-content: center;
  width: 60%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.top-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.top-bar li {
  list-style: none;
}
.top-bar a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.sobreMi a {
  font-size: 40px;
  text-align: center;
}

.formaciones {
  display: grid;
  gap: 20px;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "formacion-pistolero formacion-espartano" "formacion-chivato formacion-socorrista";
}
.formaciones .formacion-pistolero {
  grid-area: formacion-pistolero;
  transition: all 1s ease;
}
.formaciones .formacion-pistolero h2 {
  color: white;
}
.formaciones .formacion-pistolero div:nth-child(1) {
  width: 100%;
  height: 100%;
  background: url("../images/pistolero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
}
.formaciones .formacion-pistolero div:nth-child(1):hover {
  background: url("../images/pistolero2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.formaciones .formacion-pistolero:hover {
  background: white;
}
.formaciones .formacion-pistolero:hover h2 {
  color: black;
}
.formaciones .formacion-espartano {
  grid-area: formacion-espartano;
  transition: all 1s ease;
}
.formaciones .formacion-espartano h2 {
  color: white;
}
.formaciones .formacion-espartano div:nth-child(1) {
  width: 100%;
  height: 100%;
  background: url("../images/espartano.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
}
.formaciones .formacion-espartano div:nth-child(1):hover {
  background: url("../images/espartano2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.formaciones .formacion-espartano:hover {
  background: white;
}
.formaciones .formacion-espartano:hover h2 {
  color: black;
}
.formaciones .formacion-chivato {
  grid-area: formacion-chivato;
  transition: all 1s ease;
}
.formaciones .formacion-chivato h2 {
  color: white;
}
.formaciones .formacion-chivato div:nth-child(1) {
  width: 100%;
  height: 100%;
  background: url("../images/chivato.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
}
.formaciones .formacion-chivato div:nth-child(1):hover {
  background: url("../images/chivato2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.formaciones .formacion-chivato:hover {
  background: white;
}
.formaciones .formacion-chivato:hover h2 {
  color: black;
}
.formaciones .formacion-socorrista {
  grid-area: formacion-socorrista;
  transition: all 1s ease;
}
.formaciones .formacion-socorrista h2 {
  color: white;
}
.formaciones .formacion-socorrista div:nth-child(1) {
  width: 100%;
  height: 100%;
  background: url("../images/socorrista.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s ease-in-out;
}
.formaciones .formacion-socorrista div:nth-child(1):hover {
  background: url("../images/socorrista2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.formaciones .formacion-socorrista:hover {
  background: white;
}
.formaciones .formacion-socorrista:hover h2 {
  color: black;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  perspective: 500px;
}
.image div:nth-child(1) {
  width: 100%;
  height: 100%;
  background: gray;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  transition: transform 1s ease;
}
.image .icon {
  background: url("/images/churumbel-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  bottom: 100%;
  width: 100%;
  height: 100px;
  transition: all 0.5s ease;
}
.image:hover div:nth-child(1) {
  transform: rotate3d(3, 0, 0, 80deg);
  transform-style: preserve-3d;
}
.image:hover .icon {
  scale: 1.5;
  transform: translateY(-50px);
}

.curriculum {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(20px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}/*# sourceMappingURL=styles.css.map */