/*Funciones*/
@function cambiarColor($color){
  @return mix($color, red);
}
/*Mixin*/
@mixin formaciones($listaformaciones) {
  //transformacion con 2 transiciones
  @each $formacion in $listaformaciones {
    .formacion-#{$formacion} {
      @extend %formacion;
      grid-area: formacion-#{$formacion};
      transition: all 1s ease;
      h2 {
        color: white;
      }
      div:nth-child(1) {
        width: 100%;
        height: 100%;
        background: url("../images/#{$formacion}.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 1s ease-in-out;
        &:hover {
          background: url("../images/#{$formacion}2.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &:hover {
        background: white;
        h2 {
          color: black;
        }
      }
    }
  }
}
@mixin portfolio() {
  .images {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  @for $i from 1 through 5 {
    .img-#{$i} {
      background: url("/images/portfolio/#{$i}.PNG");
      background-size: auto;
      background-repeat: no-repeat;
      width: 300px;
      height: 400px;
      flex-grow: 1;
      transition: width 1s ease-in-out;
      &:hover {
        width: 500px;
        height: 400px;
      }
    }
  }
}
@mixin experiencias {
  @for $i from 1 through 3 {
    .experiencia-#{$i} {
      padding-left: 200px;
      display: flex;
      gap: 300px;
      width: 100%;
      .eje {
        position: relative;
        display: flex;
        z-index: 0;
        width: 100px;
        align-items: center;
        .fondo {
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100px;
          border-radius: 100%;
          scale: 0;
          background: red;
          transition: scale 0.5s ease;
        }
        .circle {
          position: absolute;
          z-index: 2;
          left: 25%;
          width: 50px;
          height: 50px;
          background: blue;
          border-radius: 100%;
          cursor: pointer;
        }

        &:hover {
          .fondo {
            scale: 105%;
          }
          & ~ div h1 {
            letter-spacing: 5px;
          }
          & ~ div p {
            background: gray;
            padding-top: 100px;
            padding-left: 100px;
          }
        }
      }
      .contenido {
        position: relative;
        z-index: 2;
      }
      p {
        transition: all 1s ease;
        position: absolute;
        z-index: 2;
      }
      hr {
        position: relative;

        background: white;
        top: 100px;
        width: 3px;
        height: 100px;
      }
    }
  }
}
/*Plantillas*/
%contenedores {
  background: rgb(100, 89, 89);
  border: {
    width: 2px;
    style: solid;
    color: white;
    radius: 5px;
  }
}
%info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
%formacion {
  background: #808080;
  padding: 1rem;
  border: {
    width: 2px;
    style: solid;
    radius: 10px;
    color: rgb(69, 67, 67);
  }
  box-shadow: 6px 5px 0px rgb(69, 67, 67);
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 50%;
    height: 50%;
  }
  div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
}
/*Variables*/
$widthSocials: 20%;
$widthContainer: 80%;

/*Llamadas Mixin*/

@include experiencias();

@include portfolio();
/*Nesting y Estilos*/
body {
  background: rgb(195, 223, 17);
}
.container {
  display: flex;
  gap: 20px;
  height: 90vh;
}
.socials-container {
  @extend %contenedores;
  width: $widthSocials;
}
.socials-content {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.basic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  hr {
    width: 75%;
    height: 5px;
    animation: cambiarbarra 2s ease-in-out infinite;
  }
  p {
    color: white;
  }
}
.socials {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  div {
    display: flex;
    align-items: center;
    gap: 10px;

    div {
      background: rgb(189, 189, 189);
      min-width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      border: {
        width: 3px;
        style: solid;
        color: rgb(69, 67, 67);
        radius: 10px;
        right-width: 5px;
        bottom-width: 5px;
      }
      box-shadow: 6px 5px 0px rgb(69, 67, 67);
    }
  }

  span {
    font: {
      size: small;
      weight: bold;
    }
  }
}
.info-container {
  @extend %contenedores;
  overflow: scroll;
  width: $widthContainer;

  display: flex;
  flex-direction: column;
}
.top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  h1 {
    margin-left: 200px;
    animation: shake 0.2s linear infinite alternate;
    align-self: center;
    font: {
      size: 40px;
    }
  }
  nav {
    background: gray;
    display: flex;
    justify-content: center;
    width: 60%;
    border: {
      bottom-right-radius: 10px;
      bottom-left-radius: 10px;
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  li {
    list-style: none;
  }
  a {
    cursor: pointer;
    color: white;
    text: {
      decoration: none;
    }
    font: {
      size: 24px;
    }
  }
}
.sobreMi {
  @extend %info;
  a {
    transition: scale 2s ease-in-out;

    font: {
      size: 40px;
    }
    text: {
      align: center;
    }
    &:hover{
      scale: 110%;
    }
  }
}
.formaciones {
  display: grid;
  gap: 20px;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "formacion-pistolero formacion-espartano"
    "formacion-chivato formacion-socorrista";
  $formaciones: pistolero, espartano, chivato, socorrista;
  @include formaciones($formaciones);
}
.curriculum {
  @extend %info;
}
.portfolio {
  @extend %info;
}
.image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  perspective: 500px;

  div:nth-child(1) {
    width: 100%;
    height: 100%;
    background: gray;
    position: relative;
    z-index: 1;
    border-radius: 10px;

    transition: transform 1s ease;
  }

  .icon {
    background: url("/images/churumbel-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; // Cambiado de relative a absolute
    z-index: 2;
    bottom: 100%;
    width: 100%;
    height: 100px;
    transition: all 0.5s ease;
  }

  &:hover {
    div:nth-child(1) {
      transform: rotate3d(3, 0, 0, 80deg);
      transform-style: preserve-3d;
    }

    .icon {
      scale: 1.5;
      transform: translateY(-50px);
    }
  }
}
.curriculum {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(20px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes cambiarbarra{
0%{
  background: white;
} 50%{
  background: cambiarColor(white);
}100%{
  background: white;
}
}